* {
    margin: 0;
    padding: 0;
}

.m-4 {
    margin: 0!important;
}

img {
    width: 400px;
    height: 250px;
    margin-top: 10px;
}

.linear {
    background-image: linear-gradient(
  90deg,
  hsl(240deg 8% 8%) 0%,
  hsl(271deg 4% 16%) 15%,
  hsl(309deg 3% 24%) 34%,
  hsl(335deg 4% 33%) 58%,
  hsl(351deg 4% 43%) 97%,
  hsl(5deg 4% 53%) 100%,
  hsl(16deg 7% 62%) 100%,
  hsl(26deg 11% 72%) 100%,
  hsl(37deg 16% 82%) 100%,
  hsl(55deg 32% 93%) 100%
);
}