<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RunManager | Cuidando da sua performance.</title>
</head>
<body>
    <h1>All Races</h1>
    <a href="/races/new">Criar +</a>

    <ul>
        <% for(let race of races) { %>
            <li>
                <a href="/races/<%= race._id %>"><%= race.location %></a>
            </li>
        <% } %>
    </ul>
</body>
</html>