<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RunManager | Criando bem-estar pessoal.</title>
</head>
<body>
    <h1>Adicione uma corrida</h1>
    <form action="/races" method="POST">
        <div>
            <label for="location">Prova</label>
            <input type="text" id="location" name="races[location]" placeholder="Ironman, Kona">
        </div>
        <div>
            <label for="country">País</label>
            <input type="text" id="country" name="races[country]" placeholder="Austrália">
        </div>
        <button>Enviar</button>
    </form>
</body>
</html>