<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RunManager | Mostrando o melhor do seu potêncial</title>
</head>
<body>
    <h1><%= races.country %></h1>
    <h2><%= races.location %></h2>

    <a href="/races/<%= races._id %>/edit">Editar</a>

    <form action="/races/<%= races._id %>?_method=DELETE" method="POST">
        <button>Deletar</button>
    </form>
    <footer>
        <a href="/races">All Races</a>
    </footer>
</body>
</html>