<%- include('header', { title: 'Authenticate App' }) %>
<h1>Login</h1>
<!-- Locals - "Res" -->
<%- message %>
<p>Try to access <a href="/restricted">Users and Beaty</a></p>
<form action="/login" method="POST">
    <p>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Type your username">
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Type your password">
    </p>
    <p>
        <input type="submit" value="Login">
    </p>
</form>

<%- include('footer') %>


