<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
</head>
<body>
    <h1>Cadastrar</h1>
    <form action="/home" method="POST">
        <p>
            <label for="name">Materia</label>
            <input type="text" name="name" id="name" placeholder="Digite uma materia">
        </p>
        <select name="category" id="category">
            <% for(let category of categories) { %>
                <option value="<%= category %>"><%= category %></option>
            <% } %>
        </select>
        <p>
            <button>Cadastrar</button>
        </p>
    </form>
    <a href="/home">Cancelar</a>
</body>
</html>