<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content.name %> Conteudos</title>
</head>
<body>  
    <h1><%= content.category %> conteudos</h1>
    <p>Categoria: <a href="/home?category=<%= content.category %>"><%= content.category %></a></p>

    <a href="/home">Principal</a>
</body>
</html>