<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão Portuária</title>
    <script src="https://kit.fontawesome.com/c095df0eeb.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,600&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/style.css' %}">
</head>
<body>
    <header>
        <h1>Navios Atracados</h1>
    </header>

    <button id="myBtn">Cadastrar <i class="fas fa-ship"></i></button>

    <div id="myModal" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close">&times;</span>
                <h3>Cadastrar Navio</h3>
            </div>
                <div class="modal-body">
                   
                    <form>
                        <p>
                            <label for="name">Companhia:</label>
                            <input type="text" id="shipName" name="name">
                        </p>
                        <p>
                            <label for="brand">Nome Navio:</label>
                            <input type="text" id="shipBrand" name="brand">
                        </p>
                        <p>
                            <button id="modal-btn">Enviar</button>
                        </p>
                    </form>
                </div>
                <div class="modal-footer"></div>
            </div>   
        </div>

    <main>
        <section class="display">
            <table>
                <thead>
                    <tr>
                        <th>Companhia</th>
                        <th>Navio</th>
                    </tr>
                </thead>
                <tbody id="container">
                    <td>MSC</td>
                    <td>Cruise Line</td>
                </tbody>
            </table>
        </section>
    </main>
    
    <footer>
        <p>Rodrigo Regis &copy; 2022</p>
    </footer>
    <script src="{% static 'webapp/app.js' %}"></script>
</body>
</html>